@model VmUserCreate


<div class="container-fluid">
    <h2 class="mb-5">Create New Users</h2>
    <form class="w-50" asp-action="create" method="post">
        <div class="mb-3">
            <label asp-for="@Model.Name" class="form-label">Name</label>
            <input type="text" class="form-control" asp-for="@Model.Name">
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Surname" class="form-label">Surname</label>
            <input type="text" class="form-control" asp-for="@Model.Surname">
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Email" class="form-label">Email</label>
            <input type="email" class="form-control" asp-for="@Model.Email">
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Phone" class="form-label">Phone</label>
            <input type="number" class="form-control" asp-for="@Model.Phone">
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Password" class="form-label">Password</label>
            <input type="password" class="form-control" asp-for="@Model.Password">
        </div>
        <div class="mb-3">
            <label asp-for="@Model.CoPassword" class="form-label">Password</label>
            <input type="password" class="form-control" asp-for="@Model.CoPassword">
        </div>
        <button class="btn btn-primary" type ="submit">Create</button>
    </form>
</div>

