@model Imtahan_Asp.Net.Models.Setting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Setting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BannerBackImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BannerBackImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BannerImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BannerImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BannerHeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BannerHeader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BannerContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BannerContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AboutHeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AboutHeader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AboutContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AboutContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AboutImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AboutImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterPhone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
