@model VmTeamIndex


<div class="container-fluid">
    <h2 class="mb-5">Team Members</h2>
    <a asp-action="create" class="btn btn-primary mb-3">Create New Member</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Photo</th>
                <th scope="col">Name</th>
                <th scope="col" style="width : 450px">Info</th>
                <th scope="col">Position</th>
                <th scope="col">Modify</th>
            </tr>
        </thead>
        <tbody>

            @{
                int i = 1;

                foreach (var member in Model.teams)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>
                            <img src="~/assets/img/team/@member.Photo" style="width : 100px; height: 100px; object-fit : cover;" />
                        </td>
                        <td>@member.Name</td>
                        <td>@(member.Content.Length > 200 ? member.Content.Substring(0,200) : member.Content)</td>
                        <td>@member.TeamPosition.Name</td>
                        <td>
                            <a asp-action="Update" class="btn btn-success" asp-route-id="@member.Id">Update</a>
                            <a asp-action="reset" class="btn btn-warning" asp-route-id="@member.Id">Details</a>
                            <a asp-action="delete" class="btn btn-danger" asp-route-id="@member.Id" onclick="return confirm('Are you sure?')">Delete</a>
                        </td>
                    </tr>

                    i++;
                }
            }
        </tbody>
    </table>

    @{
        if (Model.count != 1 && Model.count != 0)
        {
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item @(Model.page == 0? "disabled" : "")">
                        <a class="page-link">Previous</a>
                    </li>
                    @for (int j = 0; j < Model.count; j++)
                    {
                        <li class="page-item @(Model.page == j ? "active" : "")"><a class="page-link" asp-route-page="@j">@(j+1)</a></li>
                    }
                    <li class="page-item @(Model.page == Model.count-1? "disabled": "")">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        }
    }


</div>